In [1]:
import pandas as pd

pd.set_option('mode.chained_assignment',  None)

df = pd.read_csv('~/dt3.csv', header=None, names=['date','temperature','humidity','pm2.5','dis_pm2.5','pm10','dis_pm10','purifi_amount','purifi_tree','is_working','is_warter_short'])

In [2]:
df

,date,temperature,humidity,pm2.5,dis_pm2.5,pm10,dis_pm10,purifi_amount,purifi_tree,is_working,is_warter_short
0,date,temperature,humidity,pm2.5,dis_pm2.5,pm10,dis_pm10,purifi_amount,purifi_tree,is_working,is_warter_short
1,2021-03-01 00:00,11.26,41.27,14.02,14.02,34.04,34.04,202125,49,0,1
2,2021-03-01 00:01,11.23,41.4,14.16,14.16,32.13,32.13,202125,49,0,0
3,2021-03-01 00:02,11.2,41.55,14.08,14.08,32.2,32.2,202125,49,0,0
4,2021-03-01 00:03,11.2,41.83,14.33,14.33,35.39,35.39,202125,49,0,1
...,...,...,...,...,...,...,...,...,...,...,...
44635,2021-03-31 23:55,17.31,44.67,9.72,9.72,24.75,24.75,202125,49,0,1
44636,2021-03-31 23:56,17.32,44.73,9.5,9.5,23.75,23.75,202125,49,0,1
44637,2021-03-31 23:57,17.29,44.57,9.73,9.73,26.14,26.14,202125,49,0,1
44638,2021-03-31 23:58,17.27,44.82,9.71,9.71,23.18,23.18,202125,49,0,1
44639,2021-03-31 23:59,17.26,44.85,10.69,10.69,25.44,25.44,202125,49,0,1

In [ ]:
import matplotlib.pyplot as plt

plt.plot(df.date[0:44639], df.pm2[0:44639])
plt.show()