In [4]:
import pandas as pd

pd.set_option('mode.chained_assignment',  None)

df3 = pd.read_csv('~/data.txt', header=None, names=['date','temperature','humidity','pm2.5','dis_pm2.5','pm10','dis_pm10','purifi_amount','purifi_tree','is_working','is_warter_short'])

for i in range(0, 44637) :
    temp = str(df3['date'][i][1:17])
    df3['date'][i] = temp

In [5]:
df4 = df3
df4

,date,temperature,humidity,pm2.5,dis_pm2.5,pm10,dis_pm10,purifi_amount,purifi_tree,is_working,is_warter_short
0,2021-03-01 00:00,11.26,41.27,14.02,14.02,34.04,34.04,202125,49,0,1
1,2021-03-01 00:01,11.23,41.40,14.16,14.16,32.13,32.13,202125,49,0,0
2,2021-03-01 00:02,11.20,41.55,14.08,14.08,32.20,32.20,202125,49,0,0
3,2021-03-01 00:03,11.20,41.83,14.33,14.33,35.39,35.39,202125,49,0,1
4,2021-03-01 00:04,11.20,42.05,15.03,15.03,39.49,39.49,202125,49,0,0
...,...,...,...,...,...,...,...,...,...,...,...
44632,2021-03-31 23:55,17.31,44.67,9.72,9.72,24.75,24.75,202125,49,0,1
44633,2021-03-31 23:56,17.32,44.73,9.50,9.50,23.75,23.75,202125,49,0,1
44634,2021-03-31 23:57,17.29,44.57,9.73,9.73,26.14,26.14,202125,49,0,1
44635,2021-03-31 23:58,17.27,44.82,9.71,9.71,23.18,23.18,202125,49,0,1
44636,2021-03-31 23:59,17.26,44.85,10.69,10.69,25.44,25.44,202125,49,0,1

In [ ]:


temp4 = True
temp3 = []
global temp1
global temp2
for idx in range(0,44635) :
    if df4['date'][idx][14:16] == '00' : temp1 = 0
    else : temp1 = int(df4['date'][idx][14:16])
    if df4['date'][idx+1][14:16] == '00' : temp2 = 60
    else : temp2 = int(df4['date'][idx+1][14:16])
    if temp1+1 != temp2 :
        for jmp in range (1,4):
            if df4['date'][idx+jmp-1] == df4['date'][idx+jmp] : 
                if df4['date'][idx][14:16] == '59' : temp1 = '00'
                elif int(df4['date'][idx][14:16]) == 0 or (int(df4['date'][idx][14:16]) == 1) or (int(df4['date'][idx][14:16]) == 2) or (int(df4['date'][i][14:16]) == 3) or (int(df4['date'][idx][14:16]) == 4) or (int(df4['date'][idx][14:16]) == 5) or (int(df4['date'][idx][14:16]) == 6) or (int(df4['date'][idx][14:16]) == 7) or (int(df4['date'][idx][14:16]) == 8) : temp1 = '0'+str(int(df3['date'][i][14:16])+1)
                else : temp1 = str(int(df4['date'][idx][14:16])+1)
                df4['date'][idx+jmp] = df4['date'][idx][0:14]+temp1
                df4.sort_values(by=['date'], inplace=True, ascending=True)

In [ ]:
is_duplicated = df4.duplicated(['date'])

In [ ]:
duplicated = df4[is_duplicated]

In [ ]:
duplicated

In [ ]:
temp3 = []
global temp1
global temp2
for i in range(0,44635) :
    
    if df3['date'][i][14:16] == '00' : temp1 = 0
    else : temp1 = int(df3['date'][i][14:16])
    if df3['date'][i+1][14:16] == '00' : temp2 = 60
    else : temp2 = int(df3['date'][i+1][14:16])
    if temp1+1 == temp2 : continue
    else : temp3.append(i)

In [14]:
import numpy as np
import pandas as pd
# 데이터 불러오기
pd.set_option('mode.chained_assignment',  None)

df3 = pd.read_csv('~/data.txt', header=None, names=['date','temperature','humidity','pm2.5','dis_pm2.5','pm10','dis_pm10','purifi_amount','purifi_tree','is_working','is_warter_short'])

for i in range(0, 44637) :
    temp = str(df3['date'][i][1:17])
    df3['date'][i] = temp

#작업하기 위한 복사본 생성
df4 = df3

#밀린 값 수정 후 정렬

temp4 = True
temp3 = []
global temp1
global temp2
for i in range(0,44635) :
    if df4['date'][i][14:16] == '00' : temp1 = 0
    else : temp1 = int(df4['date'][i][14:16])
    if df4['date'][i+1][14:16] == '00' : temp2 = 60
    else : temp2 = int(df4['date'][i+1][14:16])
    if temp1+1 != temp2 :
        if int(df4['date'][i][14:16])+1 == 60 : temp1 = '00'
        elif int(df4['date'][i][14:16]) == 0 or (int(df4['date'][i][14:16]) == 1) or (int(df4['date'][i][14:16]) == 2) or (int(df4['date'][i][14:16]) == 3) or (int(df4['date'][i][14:16]) == 4) or (int(df4['date'][i][14:16]) == 5) or (int(df4['date'][i][14:16]) == 6) or (int(df4['date'][i][14:16]) == 7) or (int(df4['date'][i][14:16]) == 8) : temp1 = '0'+str(int(df4['date'][i][14:16])+1)
        else : temp1 = str(int(df4['date'][i][14:16])+1)
        
        
        
        if df4['date'][i+2][14:16] == df4['date'][i+3][14:16] :
            df4['date'][i+3] = df4['date'][i][0:14]+temp1
            df4.sort_values(by=['date'], inplace=True, ascending=True)     

        elif df4['date'][i+1][14:16] == df4['date'][i+2][14:16] :
            df4['date'][i+2] = df4['date'][i][0:14]+temp1
            df4.sort_values(by=['date'], inplace=True, ascending=True)     

        elif df4['date'][i][14:16] == df4['date'][i+1][14:16] :
            df4['date'][i+1] = df4['date'][i][0:14]+temp1
            df4.sort_values(by=['date'], inplace=True, ascending=True)     
            
        elif df4['date'][i-1][14:16] == df4['date'][i][14:16] :
            df4['date'][i] = df4['date'][i][0:14]+temp1
            df4.sort_values(by=['date'], inplace=True, ascending=True)     
        
        else : continue
                



#원본데이터에 날짜부분만 삽입

for i in range(0, len(df3)) :
    temp = df4['date'][i]
    df3['date'][i] = temp
    
#빈 값 채우기

for i in range(0,len(df3)) :
    if df3['date'][i][14:16] == '00' : temp1 = 0
    else : temp1 = int(df3['date'][i][14:16])
    if df3['date'][i+1][14:16] == '00' : temp2 = 60
    else : temp2 = int(df3['date'][i+1][14:16])
    if temp1+1 != temp2 :
        if int(df3['date'][i][14:16])+1 == 60 : temp1 = '00'
        elif int(df3['date'][i][14:16]) == 0 or (int(df3['date'][i][14:16]) == 1) or (int(df3['date'][i][14:16]) == 2) or (int(df3['date'][i][14:16]) == 3) or (int(df3['date'][i][14:16]) == 4) or (int(df3['date'][i][14:16]) == 5) or (int(df3['date'][i][14:16]) == 6) or (int(df3['date'][i][14:16]) == 7) or (int(df3['date'][i][14:16]) == 8) : temp1 = '0'+str(int(df3['date'][i][14:16])+1)
        else : temp1 = str(int(df3['date'][i][14:16])+1)
        temperature = np.around(df3['temperature'][i-1:i+1].mean(),2)
        humidity = np.around(df3['humidity'][i-1:i+1].mean(),2)
        pm2 = np.around(df3['pm2.5'][i-1:i+1].mean(),2)
        dis_pm2 = np.around(df3['dis_pm2.5'][i-1:i+1].mean(),2)
        pm10 = np.around(df3['pm10'][i-1:i+1].mean(),2)
        dis_pm10 = np.around(df3['dis_pm10'][i-1:i+1].mean(),2)
        date = df3['date'][i][0:14]+temp1   
        df3.loc[len(df3)] = [date,temperature, humidity, pm2, dis_pm2, pm10, dis_pm10, 202125, 49, 0 , 1]
        df3.tail()
        df3.sort_values(by=['date'], inplace=True, ascending=True)     

        

df4.sort_values(by=['date'], inplace=True, ascending=True)

#중복된 값 제거
df3 = df3.drop_duplicates(['date'])
      
#csv파일 생성

df3.to_csv("~/dt3.csv", index = False)

In [ ]:
df4.drop_duplicates(['date'])

In [ ]:
len(df4['date'])

In [ ]:
df['date'][25250][14:16]

In [ ]:
temp4 = True
temp3 = []
global temp1
global temp2
for i in range(0,44635) :
    
    if df['date'][i][14:16] == '00' : temp1 = 0
    else : temp1 = int(df['date'][i][14:16])
    if df['date'][i+1][14:16] == '00' : temp2 = 60
    else : temp2 = int(df['date'][i+1][14:16])
    if temp1+1 != temp2 :
        for j in range (1,2):
            if df['date'][i+j] == df['date'][i+j+1] : 
                if temp4 : 
                    temp3.append(i)
                    temp4 = False
                else :
                    temp3.append(i)
        
    elif df['date'][i] == df['date'][i+1] :
        for i in range(0,44635) :
        
            if df['date'][i+1][14:16] == '00' : temp1 = 0
            else : temp1 = int(df['date'][i][14:16])
            if df['date'][i+2][14:16] == '00' : temp2 = 60
            else : temp2 = int(df['date'][i+1][14:16])
            if temp1+1 != temp2 : 
                if temp4 : 
                    temp3.append(i)
                    temp4 = False
                else :
                    temp3.append(i)

KeyError: 25309

In [ ]:
global temp1
global temp2

if df3['date'][59][14:16] == '00' : temp1 = 0
else : temp1 = int(df3['date'][59][14:16])
if df3['date'][60][14:16] == '00' : temp2 = 60
else : temp2 = int(df3['date'][60][14:16])
temp1+1 == temp2

In [ ]:
df.to_csv("~/dt.csv", index = False)

In [ ]:
df5=df4.loc[temp3]

In [ ]:
df5.to_csv("~/dt5.csv", index = False)

In [ ]:
df3 = df

In [ ]:
df3['date'][25247] = df3['date'][25247][0:14]+str(temp1)

In [ ]:
df3['date'][25247]

In [13]:
df3.to_csv("~/dt3.csv", index = False)

In [ ]:
temp3 = []
global temp1
global temp2
for i in range(0,len(df4)) :
    if df4['date'][i][14:16] == '00' : temp1 = 0
    else : temp1 = int(df4['date'][i][14:16])
    if df4['date'][i+1][14:16] == '00' : temp2 = 60
    else : temp2 = int(df4['date'][i+1][14:16])
    if temp1+1 != temp2 :
        temp3.append(i)